*.env
.env

# Actual Budget
actual/actual-data/

# Gluetun
media/gluetun/servers/*

# Pi-hole
pihole/pihole/etc/

# qBittorrent
media/qbittorrent/downloading/

# Traefik
acme.json
traefik/dynamic/*
!traefik/dynamic/*.example

# Ignore personal data
config/
data/
db/
library/
pgdata/
postgres*/
uploads/
backup/

# Logs
*.log
.DS_Store
