# General
homelab.env

# Packer
images/variables.auto.pkrvars.hcl

# Terraform
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/variables.auto.tfvars
