PROXMOX_HOST=192.168.68.201
PROXMOX_USERNAME=root@pam
PROXMOX_PASSWORD=password

# hostname given to computer running proxmox
NODE_NAME=proxmox

TEMPLATE_VM_ID=9000

SSH_PUBLIC_KEY_FILE=/path/to/ssh/public/key/file
SSH_PRIVATE_KEY_FILE=/path/to/ssh/private/key/file

ISO_URL=https://releases.ubuntu.com/24.04/ubuntu-24.04.3-live-server-amd64.iso
ISO_CHECKSUM=sha256:c3514bf0056180d09376462a7a1b4f213c1d6e8ea67fae5c25099c6fd3d8274b

VM_PASSWORD=password
