http:
  routers:
    homeassistant:
      rule: "Host(`home.{DOMAIN}`)"
      entryPoints:
        - "websecure"
      service: "homeassistant"
      tls:
        certResolver: "myresolver"

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://{IP_ADDRESS}:8123"
